.location-details-container {
  padding: 20px;
  max-width: 500px;
  margin: 0 auto;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.details-content {
  background-color: #727272; /* Lighter background for the details */
  padding: 15px;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
}

.location-details-container h2 {
  margin-bottom: 15px;
}

.location-details-container p {
  font-size: 1em;
  line-height: 1.1;
  margin-bottom: 10px;
}

/* .location-details-container a {
  color: #1abc9c;
  text-decoration: none;
} */

.location-details-container a:hover {
  text-decoration: underline; /* Underline on hover for links */
}

@media screen and (max-width: 768px) {
  .location-details-container {
    padding: 10px;
  }
  .details-content {
    padding: 10px;
  }
}
