.location-details-container a {
  background-color: #007d73; /* Blue background color for the link */
  color: #ffffff; /* White text color */
  text-decoration: none; /* No underline by default */
  padding: 8px 12px; /* Padding inside the box */
  border-radius: 4px; /* Slightly rounded corners for the box */
  display: inline-block; /* Allows padding and border-radius to apply correctly */
  transition: background-color 0.3s ease; /* Smooth transition for hover effect */
}

.details-content {
  background-color: #727272; /* Lighter background for the details */
  padding: 15px;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
}

.location-details-container h2 {
  margin-bottom: 15px;
}

.location-details-container p {
  font-size: 1em;
  line-height: 1.1;
  margin-bottom: 10px;
}

.location-details-container a:hover {
  text-decoration: underline;
  background-color: #00c9b9;
}

@media screen and (max-width: 768px) {
  .location-details-container {
    padding: 10px;
  }
  .details-content {
    padding: 10px;
  }
}
