/* ChargeSheet.css */

/* Container for the charge sheet */
.charge-sheet {
  margin: 20px;
  padding: 10px;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Style for the header */
.charge-sheet h2 {
  color: #007bff;
  text-align: center;
  font-size: 1.2em;
}

/* Styling for the list of charges */
.charge-sheet ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

/* Style for each charge detail item wrapper */
.charge-sheet li {
  display: flex;
  align-items: flex-start; /* Align to the top if items have different heights */
  justify-content: space-between; /* Space between text and color box */
  margin: 10px 0;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: rgba(255, 255, 255, 0.5); /* Semi-transparent background */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  position: relative; /* For absolute positioning of the color box */
}

/* Styling for the charge details */
.charge-details {
  text-align: center;
}

/* Styling for the paragraphs in each item */
.charge-sheet p {
  margin: 5px 0; /* Add some space between paragraphs */
  color: white; /* White color for paragraphs */
  font-size: 1.1em; /* Bigger text size */
  font-weight: bold; /* Bold text */
}

/* Style for the color box */
.system-color-box {
  width: 20px; /* Adjust size as needed */
  height: 20px; /* Adjust size as needed */
  border-radius: 50%; /* Circular shape */
  position: absolute; /* Positioning relative to the parent li */
  right: 10px; /* 10px from the right edge of the list item */
  top: 10px; /* 10px from the top edge of the list item */
}

/* No charges selected message style */
.charge-sheet p {
  text-align: center;
  color: #636363;
}
