.landing-page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Full height of the viewport */
  background-color: #000000; /* Light grey background, you can change this */
  padding: 20px;
  text-align: center;
}

.overlay-content {
  max-width: 600px; /* Maximum width of the content */
  margin: 0 auto;
  padding: 20px;
  background: #3e3e3e; /* Slightly transparent white background */
  border-radius: 10px; /* Rounded corners */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Subtle shadow */
}

.overlay-content h1 {
  font-size: 2.5rem; /* Large font size for the heading */
  margin-bottom: 20px;
  color: #ffffff; /* Dark grey color for the text */
}

.overlay-content a {
  display: inline-block;
  margin: 10px;
  padding: 10px 20px;
  background-color: #007bff; /* Blue background */
  color: white;
  text-decoration: none;
  border-radius: 5px; /* Rounded edges for links */
  transition: background-color 0.3s ease; /* Smooth transition for hover effect */
}

.overlay-content a:hover {
  background-color: #0056b3; /* Darker blue on hover */
}

/* Responsive Design */
@media (max-width: 768px) {
  .overlay-content {
    padding: 15px;
  }

  .overlay-content h1 {
    font-size: 2rem; /* Slightly smaller font size on smaller screens */
  }
}
