/* Updated styling for LoggedStat component */

.login-status-container {
  padding: 10px 20px;
  background-color: #3e3e3e; /* Updated background color */
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  text-align: center;
  margin-top: 20px;
}

.login-status-container p {
  margin: 0;
  font-size: 18px;
  color: white; /* Updated text color for contrast */
  font-weight: bold;
}

/* Styling for when user is logged in */
.login-status-container .user-greeting {
  color: #28a745;
}

/* Styling for when user is not logged in */
.login-status-container .login-prompt {
  color: #dc3545;
}
