/* ResultItem.css */
/* ResultItem.css */

/* Styling for the container of each result item */
.result-item {
  background-color: #f2f2f2; /* Light background for contrast */
  border-radius: 4px; /* Rounded corners */
  padding: 10px; /* Padding around the content */
  margin-bottom: 10px; /* Spacing between each item */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
}

/* Styling for each key-value pair within the result item */
.result-item div {
  margin-bottom: 8px;
  background-color: #3e3e3e; /* Spacing between each key-value pair */
}

/* Styling for the key (label) in the key-value pair */
.result-item strong {
  color: #00c9b9; /* Green color for key labels, consistent with your theme */
  margin-right: 5px; /* Spacing between key label and value */
}

/* You can add additional styling as needed */

.result-item:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15); /* Enhanced shadow on hover */
}

.location-name {
  text-align: center;
  font-size: 1.2em;
  font-weight: bold;
}
