/* Style the locations list container */
.locations-list {
  display: flex;
  flex-wrap: wrap;
  margin: 20px;
  padding: 10px;
  background-color: #000000;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  font-family: "Arial", sans-serif; /* Change font to Arial or any friendly font */
}

/* Style the location buttons */
.locations-list button {
  margin: 5px;
  padding: 10px 15px;
  cursor: pointer;
  border: 1px solid #ddd;
  border-radius: 4px;
  transition: background-color 0.3s ease, color 0.3s ease;
  background-color: #4caf50; /* Consistent with SystemList */
  color: white;
  font-size: 16px; /* Adjusted for consistency */
  font-weight: normal; /* Adjusted for consistency */
  font-family: "Arial", sans-serif; /* Change font to Arial or any friendly font */
  width: calc(
    33.33% - 10px
  ); /* Adjust the width to fit 3 buttons in a row with spacing */
  box-sizing: border-box; /* Include padding and border in width calculation */
  text-align: center; /* Center the text horizontally */
}

/* Style the location buttons on hover */
.locations-list button:hover {
  background-color: #45a049; /* Slightly darker green on hover */
  color: white;
}

/* Style location description text */
.locations-list p {
  color: #666;
  text-align: center;
  font-family: "Arial", sans-serif; /* Change font to Arial or any friendly font */
}

/* Add a media query for smaller screens to make buttons full-width again */
@media (max-width: 768px) {
  .locations-list button {
    width: 100%;
    margin: 5px 0; /* Adjust margin for spacing between buttons */
  }
}
