/* InsurancePlanList.css */

/* Styling for the react-select dropdown */
.plan-selector-dropdown {
  margin-bottom: 10px;
}

/* Style overrides for react-select */
.plan-selector-dropdown .Select__control {
  border: 1px solid #ddd;
  border-radius: 4px;
  background-color: #000000; /* Change background color to black */
  color: white; /* Set text color to white for better contrast */
}

.plan-selector-dropdown .Select__menu {
  border: 1px solid #ddd;
  border-radius: 4px;
  background-color: #000000; /* Change background color to black */
  color: white; /* Option text color */
}

.plan-selector-dropdown .Select__menu .Select__option {
  cursor: pointer;
  padding: 8px 12px;
  background-color: #000000; /* Change background color to black */
  color: white; /* Option text color */
}

.plan-selector-dropdown .Select__menu .Select__option:hover {
  background-color: #45a049; /* Hover background color */
  color: white; /* Hover option text color */
}
